body {
    font-family: arial sans-serif;
    background-color: #0f0e0e;
    text-align: center;
    padding: 20px;

}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}